<nb-card>
  <nb-card-header>
      {{ 'Users_Groups' | translate }}
  </nb-card-header>
  <nb-card-body>
    <p-table #dt [paginator]="true" [rows]="10" [columns]="columns" [value]="groups" [responsive]="true">
        <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="{{'Search'| translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header | translate }}
          </th>
          <th>
             
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <span class="ui-column-title"> {{col.header | translate }}</span>
            {{rowData[col.field]}}
          </td>
          <td> <a class="ng2-smart-action ng2-smart-action-edit-edit" [queryParams]="{'ID':GenerateParam(rowData.ID)}"  [routerLink]="'../groupsDetails'"><i class="nb-edit"></i></a></td>
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="summary">
         {{groups?.length}} 
      </ng-template> -->
    </p-table>

   </nb-card-body>



</nb-card>