<nb-auth-block>
  <h2 class="title">{{'Change_password'|translate}}</h2>
  <small class="form-text sub-title">{{'Please_enter_a_new_password'|translate}}</small>
  <form (ngSubmit)="resetPass()" #resetPassForm="ngForm">

    <div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
      <div>
        <strong>{{'error'|translate}}</strong>
      </div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
      <div>
        <strong>{{'success'|translate}}</strong>
      </div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>
    <!-- <div class="form-group">
      <label for="input-password" class="sr-only">{{'old_Password' | translate}}</label>
      <input name="oldPassword" [(ngModel)]="user.oldPassword" type="password" id="input-password" class="form-control form-control-lg first"
        placeholder="{{'old_Password' | translate}}" #oldPassword="ngModel" [class.form-control-danger]="oldPassword.invalid && oldPassword.touched" [required]="true"
        [minlength]="8" [maxlength]="50"
        autofocus>
      <small class="form-text error" *ngIf="oldPassword.invalid && oldPassword.touched && oldPassword.errors?.required">
        {{'Password_is_required' | translate}}
      </small>
      <small class="form-text error" *ngIf="oldPassword.invalid && oldPassword.touched && (oldPassword.errors?.minlength || oldPassword.errors?.maxlength)">
        Password should contains from 8 to 50
        characters
      </small>
    </div> -->

    <div class="form-group">
      <label for="input-password" class="sr-only">{{'New_Password' | translate}}</label>
      <input name="password" [(ngModel)]="user.password" type="password" id="input-password" class="form-control form-control-lg first"
        placeholder="{{'New_Password' | translate}}" #password="ngModel" [class.form-control-danger]="password.invalid && password.touched" [required]="true"
        [minlength]="8" [maxlength]="50"
        autofocus>
      <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
        {{'Password_is_required' | translate}}
      </small>
      <small class="form-text error" *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
        Password should contains from 8 to 50
        characters
      </small>
    </div>

    <div class="form-group">
      <label for="input-re-password" class="sr-only">{{'Confirm_Password' | translate}}</label>
      <input name="rePass" [(ngModel)]="user.confirmPassword" type="password" id="input-re-password" class="form-control form-control-lg last"
        placeholder="{{'Confirm_Password' | translate}}" #rePass="ngModel" [class.form-control-danger]="(rePass.invalid || password.value != rePass.value) && rePass.touched"
        [required]="true">
      <small class="form-text error" *ngIf="rePass.invalid && rePass.touched && rePass.errors?.required">
        {{'Password_is_required' | translate}}
     
      </small>
      <small class="form-text error" *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">
        {{'Password_does_not_match_the_confirm_password' | translate}}
      </small>
    </div>

    <button [disabled]="submitted || !resetPassForm.form.valid || password.value != rePass.value" class="btn btn-hero-success btn-block" [class.btn-pulse]="submitted">
        {{'New_Password' | translate}}
    </button>
  </form>

  <!-- <div class="links col-sm-12">
    <small class="form-text">
     {{'Alreadyhaveanaccount'|translate}}
      <a routerLink="../login">
        <strong>{{'SignIn'|translate}}</strong>
      </a>
    </small>
    <small class="form-text">
      <a routerLink="../register">
        <strong>{{'SignUp'|translate}}</strong> 
      </a>
    </small>
  </div> -->
</nb-auth-block>